@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* ? =================> Global Styles <================ */
:root {
  --main-color: #e65f78;
  --main-transition: all 0.5s;
}

.main-color {
  color: #e65f78;
}

.main-bg {
  background-color: #e65f78;
}

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.max-w500 {
  max-width: 500px;
}

a {
  color: inherit;
  text-decoration: none;
}
/*? ==========> Navbar Styles <=========== */
.navbar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* z-index: 999; */
}
.navbar .nav-item .nav-link {
  color: #000;
  text-transform: capitalize;
  transition: var(--main-transition);
}

.navbar .nav-item .nav-link:hover {
  color: var(--main-color);
}

.navbar .nav-item .nav-link.active {
  color: var(--main-color);
}

/* ?============== home=============== */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}


h1::after{
    content: '|';
    animation: header-animation 5s infinite;
}


@keyframes header-animation {
    0% {content: "|";}
    3% {content: "D|";}
    5% {content: "De|";}
    7% {content: "Dev|";}
    10% {content: "Deve|";}
    13% {content: "Devel|";}
    15% {content: "Develo|";}
    17% {content: "Develop|";}
    20% {content: "Developm|";}
    24% {content: "Developme|";}
    25% {content: "Developmen|";}
    27% {content: "Development|";}
    30% {content: "Development|";}
    32% {content: "Developmen|";}
    35% {content: "Developme|";}
    37% {content: "Develop|";}
    40% {content: "Develo|";}
    42% {content: "Devel|";}
    45% {content: "Deve|";}
    47% {content: "Dev|";}
    50% {content: "De|";}
    52% {content: "Des|";}
    55% {content: "Desi|";}
    57% {content: "Desig|";}
    60% {content: "Design|";}
    62% {content: "Designe|";}
    65% {content: "Designer|";}
    67% {content: "Designer|";}
    70% {content: "Designe|";}
    72% {content: "Design|";}
    75% {content: "Desig|";}
    77% {content: "Desi|";}
    80% {content: "Des|";}
    82% {content: "De|";}
    85% {content: "Dev|";}
    87% {content: "Deve|";}
    90% {content: "Devel|";}
    92% {content: "Develo|";}
    95% {content: "Develop|";}
    97% {content: "Develope|";}
    100% {content: "Developer|";}
  }



#home button {
  border-radius: 50px;
  color: #fff;
}

#home button:hover {
  background-color: #fff;
  color: #000;
}

/* 
- grediant
- after or befor
- div(layer)

*/

#home .down-icon {
  width: 25px;
  height: 40px;
  position: absolute;
  bottom: 25px;
  border: 2px solid #fff;
  border-radius: 10px;
  animation: scroll 1s infinite;
}

@keyframes scroll {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}

#home .down-icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 10px;
  background-color: #fff;
  left: 45%;
  top: 10px;
}

/* ?============== Fixed Icons ================= */
.fixed-icons .setting-icon {
  position: fixed;
  top: 30%;
  left: -5px;
  background-color: RGB(43, 36, 36);
  padding: 7px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.fixed-icons .up-icon {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: var(--main-color);
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
}

/* ?================ about section================= */
#about ul li {
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  transition: var(--main-transition);
}

#about ul li:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* ?==================== client ====================== */
.carousel-indicators {
  bottom: -36px;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--main-color);
  width: 15px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
}

.carousel-indicators .active {
  width: 20px;
}

/* ?=============== > Portfolio section <=============== */
#portfolio .work figure{
    cursor: pointer;
}
#portfolio .work figure figcaption{
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: var(--main-transition);
}

#portfolio .work figure:hover figcaption{
    opacity: 1;
}


#portfolio .work figure .img-layer{
    position: absolute;
    top: 100%;
    transition: var(--main-transition);
}

#portfolio .work figure:hover .img-layer{
    top: 35%;
}

#portfolio .work figure img{

    transition: var(--main-transition);
}

#portfolio .work figure:hover img{
    transform: scale(1.2);
}

#portfolio .nav-pills .nav-link {
    color: #000;
    
}

#portfolio .nav-pills .nav-link.active{
    background-color: var(--main-color);
    color: #fff;
}
